body{
    background-image: linear-gradient(to right bottom, #0b1f3d, #233769, #434f97, #6c66c6, #9c7df4);
    height: 100vh;
}

.form-select{
    height: 70%;
    margin-top: 9px;
}

.btn{
    border: 0;
    outline: 0;
}

.logo{
    width: 80px;
    display: flex;
    margin: 0 auto;
}